<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Create a Basketball Team!</title>
 </head>
 <body>

    <h1>Create a Basketball Team!</h1>

    <form method="POST" action="/team">
        <p>Team Name: <input name="name1"></p>
        <p>Coach: <input name="name2"></p>
        <p>Point Guard: <input name="name3"></p>
        <p>Shooting Guard: <input name="name4"></p>
        <p>Small Forward: <input name="name5"></p>
        <p>Power Forward: <input name="name6"></p>
        <p>Center: <input name="name7"></p>
    <input type="submit"><br/>
    </form>
 </body>
</html>








