<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
   <form action="/team" method="POST">
     <input name="name">
     <input name="coach">
     <input name="pg">
     <input name="sg">
     <input name="pf">
     <input name="sf">
     <input name="c">
      <button id="submit">Submit</button>  
   </form>
 </body>
</html>


